

html{
	text-align:center;

}
main{
	text-align:center;
	margin-top:1%;
}

header{
	text-align: center;
}

#resultSection{
	text-align: center;
	border: 1px solid black;
	display:table;
	margin: auto;
}

.hiddenRow{
	display: none;
}

.showRow{
	display: "";
}

.firstScreen{
	display:none;

}

.myForm{
	border-radius: 10px;
	border: 1px solid black;
	text-align:center;
	background-color:lightgrey;
	overflow-x:auto;
	margin-top: 1%;
	margin-left: 5%;
	margin-right:5%;
}

#manureTable, #woodChipsTable,#woodPelletsTable{
	width:100%;
}

.intro{
	text-align: center;
	margin-right: 20%  ;
	margin-left: 20%;
}
#titleIntro{
	border: 1px solid black;
	margin-bottom:0%;
	border-radius: 10px 0px 0px;
	background-color: lightgreen;
}

#descriptionIntro{
	margin-top:0%;
	margin-bottom: 1%;
	border:1px solid black;
	background-color: lightgray;
	border-radius: 0px 0px 10px;
}



#title{
	 margin-left: auto;
	 margin-right: auto;
}
#typeOfEnergy{
	width:30%;
	text-align:center;
}
#calculate{
	margin:2%;
}
#start{
	margin: 2%;
}
 th, td {
	border: 1px black solid;
} 
