

html{
	text-align:center;

}

body{
	background-image: url("img/background_image.jpeg");

	background-size: auto;
	background-repeat: no-repeat;

}


main{
	width: 100%;
	height: 100%;
	text-align:center;
	margin-top:1%;
	
	

}

header{
	text-align: center;


}

input{
	max-width: 50px;
	max-height: 23px;
	border-radius: 5px
}


input:focus{
	background-color: wheat;
}

th, td {
	border: 1px black solid;
} 

.myForm td:not(.subtitleCell){
	font-size: 10px;
}

#resultSection{
	text-align: center;
	border: 1px solid black;
	display:table;
	margin: auto;

	
}

.hiddenRow{
	display: none;
}

.showRow{
	display: auto;
}

.firstScreen{
	display:none;

}

.titleRow {
	background-color: green;
}

.subtitleRow{
	background-color: lightgreen;
}

.myForm{
	border-radius: 10px;
	border: 1px solid black;
	text-align:center;
	background-color:lightgrey;
	overflow-x:auto;
	margin-top: 1%;
	margin-left: 5%;
	margin-right:5%;
}
#results th {
	background-color: green;
}

#results td{
	background-color: lightgreen
}

#manureTable, #woodChipsTable,#woodPelletsTable{
	width:100%;
}

#containerIntro{
width: 100%;
height:100%;

}
.intro{
	text-align: center;
	margin-top: 10%;
	margin-right: 20%;
	margin-left: 20%;

	
}
#titleIntro{
	border: 1px solid black;
	margin-bottom:0%;
	border-radius: 10px 0px 0px;
	background-color: lightgreen;
}

#descriptionIntro{
	margin-top:0%;
	margin-bottom: 1%;
	border:1px solid black;
	background-color: lightgray;
	border-radius: 0px 0px 10px;
}

#title{
	 margin-left: auto;
	 margin-right: auto;
}
#typeOfEnergy{
	width:30%;
	text-align:center;
}
#calculate{
	margin:2%;
}
#start{
	margin: 2%;
}

#country{
	background-color: lightgrey;
}


 